body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  --background-videos: #111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App h1 {
  margin: 1rem;
}

.screenshots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.screenshot {
  background-color: var(--background-videos);
  width: 12rem;
  height: 18rem;
}

.screenshot button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.screenshot button h2 {
  color: #ddd;
  font-size: 1rem;
  padding: 1rem;
}

.videos_container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.video_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.video_container h1 {
  margin: 0;
}

.video_container h3 {
  margin: 0;
}

.main_video {
  border: 1px dashed white;
  background-color: var(--background-videos);
  position: relative;
}

.recorded_video {
  border: 1px dashed white;
  background-color: var(--background-videos);
  grid-row: 2 / 3;
}

.video_container button {
  width: 5rem;
  height: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.buttons .not_showing {
  display: none;
}

.showing {
  display: block;
}

footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  text-align: center;
  justify-content: left;
  align-items: center;
  font-size: 0.8rem;
  background-color: #fff;
}

footer h4 {
  width: 50%;
  text-align: right;
}

footer ul {
  margin-left: 1rem;
  padding: 2rem;
  width: 50%;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  list-style: none;
}
